.hoverTable
    {
        width:100%; 
        border-collapse:collapse; 
    }
/* Define the hover highlight color for the table row */
.hoverTable tr:hover
    {
        background-color: #3aa5c0a6;
    }