<div *ngIf="service.shortlistedStatus" class="col-md-4 offset-4 mt-2">
    <p class="text-white bg-dark" style="padding: 15px; border-radius: 5px;">Canidate Shortlisted Successfully...</p>
  </div>
<div class="mat-elevation-z8 col-md-12 mt-3">
    <table class="col-md-12" mat-table [dataSource]="dataSource" style="z-index: 0;">
        <!-- Position Column -->
        <ng-container matColumnDef="candName">
            <th mat-header-cell *matHeaderCellDef> candidate Name </th>
            <td mat-cell *matCellDef="let element"> {{element.candName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="contactNumb">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Contact Number </th>
            <td mat-cell *matCellDef="let element"> {{element.contactNumb}} </td>
        </ng-container>

        <ng-container matColumnDef="totalExp">
            <th mat-header-cell *matHeaderCellDef> total Experience </th>
            <td mat-cell *matCellDef="let element"> {{element.totalExp}} </td>
        </ng-container>

        <ng-container matColumnDef="currentOrg">
            <th mat-header-cell *matHeaderCellDef> current Organization </th>
            <td mat-cell *matCellDef="let element"> {{element.currentOrg}} </td>
        </ng-container>

        <ng-container matColumnDef="stackName">
            <th mat-header-cell *matHeaderCellDef> stackName </th>
            <td mat-cell *matCellDef="let element"> {{element.stackName}} </td>
        </ng-container>

        <ng-container matColumnDef="CCTC">
            <th mat-header-cell *matHeaderCellDef> CCTC </th>
            <td mat-cell *matCellDef="let element"> {{element.CCTC}} </td>
        </ng-container>

        <ng-container matColumnDef="ECTC">
            <th mat-header-cell *matHeaderCellDef> ECTC </th>
            <td mat-cell *matCellDef="let element"> {{element.ECTC}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="noticePer">
            <th mat-header-cell *matHeaderCellDef> noticePer </th>
            <td mat-cell *matCellDef="let element"> {{element.noticePer}} </td>
        </ng-container>

        <ng-container matColumnDef="relocate">
            <th mat-header-cell *matHeaderCellDef> relocate </th>
            <td mat-cell *matCellDef="let element"> {{element.relocate}} </td>
        </ng-container>

        <ng-container matColumnDef="InterPanel">
            <th mat-header-cell *matHeaderCellDef> InterPanel </th>
            <td mat-cell *matCellDef="let element"> {{element.InterPanel}} </td>
        </ng-container>

        <ng-container matColumnDef="Deploy">
            <th mat-header-cell *matHeaderCellDef> Deploy </th>
            <td mat-cell *matCellDef="let element">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" (click)="getAllRequirements(element)" (click)="openDialog()">
                    Deploy
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3, 8, 16]" showFirstLastButtons></mat-paginator>
</div>
