.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightslategrey;
    color:black;
    text-align: center;
    z-index:-1;
  } 
  img{
    background-color: white;
  }